<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h1>Formulario</h1>
            </div>

        </div>
    </div>
    <div class="col-md-8">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Posicion</th>
                    <th>Oficina</th>
                    <th>Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of this.employeeService.employees">
                    <td>{{employee.name}}</td>
                    <td>{{employee.position}}</td>
                    <td>{{employee.office}}</td>
                    <td>
                        <button class="btn btn-secondary">Edit</button>
                        <button class="btn btn-secondary">Delete</button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>